.tab-content{
    background: #4cb050;
    color: white;
    border:0;
    margin: 0 auto;
    padding: 0;

}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #fff;
    background-color: #4cb050;
    font-size: 18px;

}
.nav-pills>li>a{
    border-radius:0 ;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 18px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top:0 ;
    padding: 0;
}

table a:hover,table a:active,table a{
    color: white!important;
    font-size: 15px;
    width: 50px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    padding: 0!important;
}
table td.selected a{
    border-radius: 16px;
    text-align: center;
    background: #f9a83a;
}
.table p.t_title{
    border-bottom: 1px solid white;
    padding: 0 5px;
    font-size: 15px;
    line-height: 32px;
    margin: 8px auto 5px;
}
.tab-content{
    padding: 0 10px 15px;
    margin-bottom: 10px;
}
.btn-default a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.chapter_title{
    color: #4cb050;
    font-size: 18px;
}
.chapter_title i{
    color: #f9a83a;
}

.chapter-selected{
    background: rgba(59, 128, 75, 0.22);
}
#bible_chapter_content h3 {
    color: #4cb050;
    text-align: center;
}
#bible_chapter_content h3 + br {
    display: none;
}
#bible_chapter_content h4 {
    color: #4cb050;
    display: inline-block;
}
#bible_chapter_content p {
    text-indent: 2em;
}
#bible_chapter_content sup {
    color: #4cb050;
}
.search-box{
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
}
.search-result-box{
    position: relative;
    margin-bottom: 10px;
}
.search-box .search-input,.search-result-box .search-input{
    width: 100%;
    height: 44px;
    outline: none;
    border: 1px solid #4cb050;
    text-indent: 10px;
    box-sizing: border-box;
    z-index: 10;
    border-radius: 5px;
}
.search-box .search-input{
    display: none;
    border-radius: 0;
}
.search-box .search-btn,.search-result-box .search-btn{
    position: absolute;
    right: 15px;
    top:15px;
    font-size: 18px;
    cursor: pointer;
    color: #4cb050;
    z-index: 11;
}
.search_li{
    padding-top: 10px;
    border-bottom: 1px solid lightgray;
    padding-left: 5px;
}
.search_li .result-title{
    line-height: 30px;
    margin-bottom: 0;
    font-size: 12px;
    color: #989898;
}
.search_li:hover{
    background: white;
}
.search_li .result-content{
    margin-bottom: 10px;
    font-size: 14px;
}
.search_li a:hover{
    color: inherit;
    text-decoration: none;
}
.no-item-tip{
    line-height: 100px;
    text-align: center;
}


.annotation sup {
    color: #f9a83a !important;
}
.annotations {
    display: none;
}
.phone-select {
    position: absolute;
    left: 5%;
    bottom: 22px;
    width: 90%;
    height: 40px;
    opacity: 0;
}

.bible-version {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    display: flex;
    align-items: center;
}
.bible-version label {
    margin: 5px;
}
.bible-version select {
    min-width: 150px;
}
